.server-form {
  display: grid;
  row-gap: 20px;
  border-radius: 10px;
  padding: 35px;
  background-color: var(--black1);
  text-align: center;
  width: 25vw;
}

.server-form-header {
  font-size: 20px;
  font-weight: bold;
}

.server-form-subheader {
  color: var(--white3);
}

.server-form-button {
  border: none;
  background: none;
  padding: 20px;

  background-color: var(--black3);
  border-radius: 5px;

  color: var(--pinkWhite);
  font-size: 15px;

  transition: 0.2s;
}

.server-form-button:hover {
  background-color: var(--outerspace);
  color: var(--wildCard);
  cursor: pointer;
}

.server-input-container {
  display: grid;
  grid-template-rows: 0.75fr 1fr;
  margin-bottom: 20px;
  text-align: start;
}

.server-input-container > input {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--black3);
  border: 1px solid var(--outerspace);
  color: var(--pinkWhite);
}

.server-input-container > input:focus-visible {
  outline: 2px solid var(--wildCard);
}

.server-textarea-container {
  display: grid;
  grid-template-rows: 0.25fr 1fr;
  margin-bottom: 20px;
  text-align: start;
}

.server-textarea-container > textarea {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--black3);
  border: 1px solid var(--outerspace);
  color: var(--pinkWhite);
  resize: none;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;;
  height: 100px;
}

.server-button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: var(--main);
  color: var(--pinkWhite);
  transition: 0.2s;
}

.server-button:hover {
  cursor: pointer;
  color: var(--wildCard);
}

.server-error {
  font-size: 13px;
  font-style: italic;
  color: var(--accentLight);
}

.invite-example {
  text-align: start;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
}

.invite-example > ul {
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.invite-example > ul > li {
  font-size: 13px;
}
