.no-servers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.no-servers-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

.no-servers-header > span {
  color: var(--wildCard);
}

.no-servers-inner-text {
  font-size: 18px;
  text-align: center;
}

.no-servers-inner-text > * {
  margin-bottom: 20px;
}

.no-servers-flavor-text {
  font-style: italic;
  font-size: 15px;
}
