.server-links {
  text-decoration: none;
  margin: 0 20px;
  color: var(--pinkWhite);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  transition: 0.2s;
}

.server-links:hover {
  color: var(--wildCard);
}

.selected {
  color: var(--wildCard);
}
