.auth-form-outer {
  background: url('../../images/auth-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form-home-link {
  margin-bottom: 30px;
}

.auth-form-home-link > a {
  color: var(--pinkWhite);
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  transition: 0.2s;
  font-size: 30px;
}

.auth-form-home-link > a:hover {
  color: var(--wildCard);
}

.auth-form-inner {
  display: grid;
  grid-template-columns: 1fr 1.75fr;
  padding: 35px;
  background-color: var(--black1);
  border-radius: 10px;
}

.auth-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 35px;
}

.auth-text-container > *:first-child {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.auth-text-container > div > button {
  background: none;
  border: none;
  padding: 0;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  color: var(--wildCard);
  text-decoration: none;
  cursor: pointer;
}

.auth-text-container > div > a {
  color: var(--wildCard);
  text-decoration: none;
  margin-left: 5px;
}

.auth-input-container {
  display: grid;
  grid-template-rows: 0.75fr 1fr;
  margin-bottom: 20px;
}

.auth-input-container > input {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--black3);
  border: 1px solid var(--outerspace);
  color: var(--pinkWhite);
}

.auth-input-container > input:focus-visible {
  outline: 2px solid var(--wildCard);
}

.auth-button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: var(--main);
  color: var(--pinkWhite);
  transition: 0.2s;
}

.auth-button:hover {
  cursor: pointer;
  color: var(--wildCard);
}

.auth-error {
  font-size: 13px;
  font-style: italic;
  color: var(--accentLight);
}
