#home-img {
  max-width: 100%;
  overflow: hidden;
}

.home-img-container {
  height: 50vh;
  background-image: url('../../images/home-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.home-containers-1 {
  height: 50vh;
  background-color: var(--black3);
}

.home-containers-2 {
  height: 50vh;
  background-color: var(--outerspace);
}
